@import '../../Styles/colors';
@import '../../Styles/breakpoints';

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 0;
    padding: 20px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: $cor-paleta-1-200;
    &__head {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        background-color: $cor-paleta-1-300;
        border: 2px solid $cor-paleta-1-800;
        padding: 20px 0;
        border-radius: 10px;
    }
    &__item {
        list-style: none;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
}

@media (min-width: $desktop_xsm) {
    .container {
        width: 90%;
        margin: auto;
    }
}
@media (min-width: $desktop_sm) {
    .container {
        width: 80%;
        margin: auto;
    }
}
@media (min-width: $desktop_md) {
    .container {
        width: 70%;
        margin: auto;
    }
}