.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 0;
    &__head {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        list-style: none;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__nome {

    }
    &__marca {

    }
    &__preco {

    }
}