@import '../../Styles/colors';
@import '../../Styles/theme.scss';

.container {
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__label{
        justify-content: baseline;
        width: 80%;
        padding: 5px 20px;
        font-weight: 700;
    }

    &__input {
        justify-content: center;
        background-color: $cor-paleta-1-100;
        color: $cor-paleta-1-600;
        font-weight: 700;
        width: 80%;
        margin-bottom: 20px;
        padding: 10px 10px;
        border-radius: 20px;
    }
}



.send {
    width: 80%;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
    color: $cor-paleta-1-100;
    background-color: $cor-paleta-1-300;
}

button {
    width: 80%;
}