@import '../../Styles/colors';
@import '../../Styles/theme.scss';

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__label{
        justify-content: baseline;
        width: 80%;
        padding: 5px 20px;
        font-weight: 700;
    }

    &__input {
        justify-content: center;
        background-color: $cor-paleta-1-100;
        color: $cor-paleta-1-850;
        font-weight: 700;
        width: 80%;
        margin-bottom: 20px;
        padding: 20px 10px;
        border-radius: 10px;
        transition: 0.3s;
        border-top: none;
        border-right: none;
        border-left: none;

    }
    &__input:hover {
        background-color: $cor-paleta-1-250;
    }
}



.send {
    width: 80%;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.send:hover {
    background-color: $cor-paleta-1-850;
}

button {
    width: 70%;
}