$cor-paleta-1-50:  #f1f4f9;
$cor-paleta-1-100: #d5dfec;
$cor-paleta-1-150: #b9cadf;
$cor-paleta-1-200: #9db5d2;
$cor-paleta-1-250: #81a0c5;
$cor-paleta-1-300: #658bb8;
$cor-paleta-1-350: #4d76a8;
$cor-paleta-1-400: #40628c;
$cor-paleta-1-450: #334f70;
$cor-paleta-1-500: #273b54;
$cor-paleta-1-550: #1a2738;
$cor-paleta-1-600: #0d141c;

$cor-paleta-1-50:  #fffbeb;
$cor-paleta-1-100: #fef6d7;
$cor-paleta-1-150: #fef2c3;
$cor-paleta-1-200: #fdeeaf;
$cor-paleta-1-250: #fde99b;
$cor-paleta-1-300: #fde587;
$cor-paleta-1-350: #fce173;
$cor-paleta-1-400: #fcdc5f;
$cor-paleta-1-450: #FBD84B;
$cor-paleta-1-500: #FBD437;
$cor-paleta-1-550: #FBCF23;
$cor-paleta-1-600: #FACB0F;
$cor-paleta-1-650: #F0C105;
$cor-paleta-1-700: #DCB104;
$cor-paleta-1-750: #C8A104;
$cor-paleta-1-800: #b49104;
$cor-paleta-1-850: #a08103;
$cor-paleta-1-900: #8c7103;
$cor-paleta-1-950: #786002;
$cor-paleta-1-1000: #786002;


$navbar-background: #e3b505;
$navbar-fonte: black;

$html-background: $cor-paleta-1-50;


$footer-background: $cor-paleta-1-500;
$footer-font: $cor-paleta-1-850