
$cor-paleta-background: #EFF0F3;
$cor-paleta-branco: #FFFFFF;
$cor-paleta-cinza-claro: #afafaf;
$cor-paleta-azul: #2d3047;
$cor-paleta-verde: #016d27;




$white: #FFFFFF;

$cor-paleta-1-50:  #f1f4f9;
$cor-paleta-1-100: #d5dfec;
$cor-paleta-1-150: #b9cadf;
$cor-paleta-1-200: #9db5d2;
$cor-paleta-1-250: #81a0c5;
$cor-paleta-1-300: #658bb8;
$cor-paleta-1-350: #4d76a8;
$cor-paleta-1-400: #40628c;
$cor-paleta-1-450: #334f70;
$cor-paleta-1-500: #273b54;
$cor-paleta-1-550: #1a2738;
$cor-paleta-1-600: #0d141c;


$navbar-background: $cor-paleta-1-500;
$navbar-fonte: $white;



$footer-background: $cor-paleta-1-500;
$footer-font: #b9b9b9;