@import '../../Styles/colors';

.lista {
    margin-top: 20px ;
    &__item {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: rgb(252, 252, 252);
        margin: 20px 5px;
        padding: 10px 0px;
        border-radius: 5px;
        font-weight: 400;
    }
}