@import '../../Styles/colors';
@import '../../Styles/breakpoints';


.container {
    background-color: $cor-paleta-1-100;
    padding: 0 10px;
}

.paragrafo {
    font-size: 20px;
    text-align: justify;
    line-height: 2.5rem;
}

.lista {
    &__item{
        font-size: 20px;
        line-height: 2.5rem;
    }
}

@media (min-width: $desktop_xsm) {

}
@media (min-width: $desktop_sm) {

}
@media (min-width: $desktop_md) {
    .content {
        width: 70%;
        margin: auto;
    }
}