@import "./Styles/_colors.scss";

html {
  background: $cor-paleta-background;
  font-family: 'Arvo' , serif;
}
body {
  margin: 0px;

}

* {
  box-sizing: border-box;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  & section {
    flex-grow: 1;
  }
}