@import "./Styles/_colors.scss";

html {
  background: $cor-paleta-azul;
  border: 2px solid black;
  font-family: 'Arvo' , serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}