@import '../../../Styles/colors';

    .busca {
        display: flex;
        margin: auto;
        border-radius: 20px;
        width: 70%;
        padding: 10px 10px;
        border-color: $cor-paleta-1-600;
    }